[submodule "Submodules/qt-solutions"]
	path = Submodules/qt-solutions
	url = https://git.gitorious.org/qt-solutions/undeaths-qt-solutions.git
	branch = master
[submodule "Submodules/easyloggingpp"]
	path = Submodules/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
	branch = master
