<?xml version="1.0" encoding="UTF-8"?>

<?include "cpack_variables.wxi"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:fire="http://schemas.microsoft.com/wix/FirewallExtension"
    RequiredVersion="3.6.3303.0">

    <Product Id="$(var.CPACK_WIX_PRODUCT_GUID)"
        Name="$(var.CPACK_PACKAGE_NAME)"
        Language="1033"
        Version="$(var.CPACK_PACKAGE_VERSION)"
        Manufacturer="$(var.CPACK_PACKAGE_VENDOR)"
        UpgradeCode="$(var.CPACK_WIX_UPGRADE_GUID)">

        <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" Description="@CPACK_PACKAGE_DESCRIPTION_SUMMARY@"/>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" CompressionLevel="high"/>

        <MajorUpgrade
            Schedule="afterInstallInitialize"
            AllowSameVersionUpgrades="yes"
            DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit."/>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.CPACK_WIX_LICENSE_RTF)"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALL_ROOT"/>

        <?ifdef CPACK_WIX_PRODUCT_ICON?>
        <Property Id="ARPPRODUCTICON">ProductIcon.ico</Property>
        <Icon Id="ProductIcon.ico" SourceFile="$(var.CPACK_WIX_PRODUCT_ICON)"/>
        <?endif?>

        <?ifdef CPACK_WIX_UI_BANNER?>
        <WixVariable Id="WixUIBannerBmp" Value="$(var.CPACK_WIX_UI_BANNER)"/>
        <?endif?>

        <?ifdef CPACK_WIX_UI_DIALOG?>
        <WixVariable Id="WixUIDialogBmp" Value="$(var.CPACK_WIX_UI_DIALOG)"/>
        <?endif?>

        <FeatureRef Id="ProductFeature">
            <ComponentRef Id="FirewallException"/>
            <ComponentRef Id="ApplicationShortcut"/>
        </FeatureRef>

        <UIRef Id="WixUI_FeatureTreeCustom" />
    </Product>

    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="$(var.CPACK_PACKAGE_NAME)"/>
            </Directory>
        </DirectoryRef>
    </Fragment>

    <Fragment>
        <Component Directory="TARGETDIR" Guid="6DF12DAD-EB81-447D-91F7-828D67193024" Id="FirewallException">
            <fire:FirewallException Id="FirewallException" Program="[#CM_FP_@EXECUTABLE@]" Scope="any" Name="@CPACK_PACKAGE_NAME@ firewall exception" />
        </Component>
    </Fragment>
    
    <Fragment>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="*">
                <Shortcut Id="UninstallProduct"
                          Name="Uninstall $(var.CPACK_PACKAGE_NAME)"
                          Target="[SystemFolder]msiexec.exe"
                          Arguments="/x [ProductCode]"
                          Description="Uninstalls $(var.CPACK_PACKAGE_NAME)" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\$(var.CPACK_PACKAGE_VENDOR)\$(var.CPACK_PACKAGE_NAME)" Name="shortcut" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
